body {
  font-family: Verdana;
}

.main-game-container {
  margin-top: 4rem;
  background: url("../resources/images/Background.png") no-repeat center center;
  background-size: cover;
  width: 80vw;
}

.main-score-container{
  margin-top: 4rem;
  width: 80vw;
  text-align: center;
  text-justify: distribute;
}

.image-iside image {
  width: 10;
  height: 10;
}

.game-canvas-container {
  display: flex;
}

.canvas-sheet {
  position: relative;
}

.skills-sheet-canvas {
  z-index: 1;
}

.actors-sheet-canvas {
  z-index: 2;
}

.game-menu {
  position: relative;
  z-index: 100;
  display: inline-flex;
}

.game-menu button {
  margin: 0 .3rem;
}

.game-menu-categories {
  display: inline-flex;
}

.staff-container {
  display: inline-flex;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.staff-container .card {
  margin: 0 .3rem;
}

.game-menu-dropdown-options {
  max-height: 9rem;
  overflow-x: hidden;
  overflow-y: auto
}

.hidden {
  visibility: hidden;
}