<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game</title>
  <link rel="stylesheet" href="./styles/style.css">
  <link rel="shortcut icon" href="../resources/images/icon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
</head>

<body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


  <header class="bg-dark fixed-top">
    <div class="container" style="max-height: inherit">
      <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="/game">Game</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/about" target="_parent">About</a>
            </li>
            <li class="nav-item">
              <a id="logInModalOpener" class="nav-link" href="#logInModal" >
                User
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <div id="pageLoaderSpinnerElement" class="loader03 "></div>
  <link rel="import"
        onload="
            document.body.appendChild(
          this.import.querySelector('#logInModal'));"
        href="../components/modals/log_in_modal.html">
  <div class="modal fade text-dark" id="solveGameTaskModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            Task
          </h4>
        </div>
        <div class="modal-body ">
          <div id="userModalTaskContainer">
          </div>
        </div>
        <div class="modal-footer" id='modalFooter'>
        </div>
      </div>
    </div>
  </div>

  <div id="gameWindow" class="container main-game-container">
    <div id="onlyLoggedUserContent" class="not-displayed">
      <div class="game-block">
        <div class="game-canvas-container">
          <canvas id="spellCanvas" class="canvas-sheet skills-sheet-canvas"></canvas>
          <canvas id="actors" class="canvas-sheet actors-sheet-canvas"></canvas>
        </div>
      </div>
      <div class="game-menu">
        <button type="button" class="btn btn-primary" id='menu'>Menu</button>
        <div id="gameMenu" class="game-menu-categories hidden">
          <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              Attack
            </button>
            <div class="dropdown-menu game-menu-dropdown-options" id="spellMenu">
            </div>
          </div>
          <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              Heal
            </button>
            <div class="dropdown-menu game-menu-dropdown-options" id='healMenu'>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../scripts/bundle.js"></script>
  </div>
</body>

</html>